/* Reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}:focus{outline:0}ins{text-decoration:none}del{text-decoration:line-through}table{border-collapse:collapse;border-spacing:0}

/* Formalize */

/* `Widths
----------------------------------------------------------------------------------------------------*/

.input_tiny {
    width: 50px;
}

.input_small {
    width: 100px;
}

.input_medium {
    width: 150px;
}

.input_large {
    width: 200px;
}

.input_xlarge {
    width: 250px;
}

.input_xxlarge {
    width: 300px;
}

.input_full {
    width: 100%;
}

/*
	Added via JS to <textarea> and class="input_full".
	Applies to IE6, IE7. Other browsers don't need it.
*/
.input_full_wrap {
    display: block;
    padding-right: 8px;
}

/* `UI Consistency
----------------------------------------------------------------------------------------------------*/

::-moz-focus-inner {
    border: 0;
}

input[type="search"]::-webkit-search-decoration {
    display: none;
}

input,
button,
select,
textarea {
    margin: 0;
    vertical-align: middle;
}

button,
input[type="reset"],
input[type="submit"],
input[type="button"] {
    -webkit-appearance: none;
    -moz-border-radius: 11px;
    -webkit-border-radius: 11px;
    border-radius: 11px;
    background: #ddd url(../_imgs/button.png) repeat-x;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(1, #ddd));
    background: -moz-linear-gradient(top center, #fff 0%, #ddd 100%);
    border: 1px solid;
    border-color: #ddd #bbb #999;
    cursor: pointer;
    color: #333;
    font: bold 12px/1.2 Arial, sans-serif;
    outline: 0;
    overflow: visible;
    padding: 3px 10px 4px;
    text-shadow: #fff 0 1px 1px;
    width: auto;

    /* IE7 */
    *padding-top: 2px;
    *padding-bottom: 0px;
}

button {
    /* IE7 */
    *padding-top: 1px;
    *padding-bottom: 1px;
}

button[disabled],
input[type="reset"][disabled],
input[type="submit"][disabled],
input[type="button"][disabled] {
    color: #888;
}

textarea,
select,
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
    -webkit-appearance: none;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #fff;
    border: 1px solid;
    border-color: #848484 #c1c1c1 #e1e1e1;
    color: #000;
    outline: 0;
    padding: 2px 3px;
    font-size: 13px;
    font-family: Arial, sans-serif;
    height: 1.8em;

    /* IE7 */
    *padding-top: 2px;
    *padding-bottom: 1px;
    *height: auto;
}

/*
	Separate rule for Firefox.
	Cannot stack with WebKit's.
*/
input.placeholder_text,
textarea.placeholder_text {
    color: #888;
}

::-webkit-input-placeholder {
    color: #888;
}

textarea[disabled],
select[disabled],
input[type="date"][disabled],
input[type="datetime"][disabled],
input[type="datetime-local"][disabled],
input[type="email"][disabled],
input[type="month"][disabled],
input[type="number"][disabled],
input[type="password"][disabled],
input[type="search"][disabled],
input[type="tel"][disabled],
input[type="text"][disabled],
input[type="time"][disabled],
input[type="url"][disabled],
input[type="week"][disabled] {
    background-color: #eee;
    color: #888;
}

button:focus,
button:active,
input:focus,
input:active,
select:focus,
select:active,
textarea:focus,
textarea:active {
    -moz-box-shadow: #06f 0 0 7px;
    -webkit-box-shadow: #06f 0 0 7px;
    box-shadow: #06f 0 0 7px;

    /* for Opera */
    z-index: 1;
}

.is_webkit select {
    /* Tweaks for Safari + Chrome. */
    background-image: url(../_imgs/select_arrow.gif);
    background-repeat: no-repeat;
    background-position: right center;
    padding-right: 20px;
}

textarea,
select[multiple] {
    height: auto;
}

select[multiple],
.is_webkit select[multiple] {
    background-image: none;
    padding: 0;
}

textarea {
    overflow: auto;
    resize: vertical;
    width: 100%;
}

optgroup {
    color: #000;
    font-style: normal;
    font-weight: normal;
}

/* `IE6
----------------------------------------------------------------------------------------------------*/

/*
	Everything below this line is for IE6.
	Delete it if you don't support it! :)

	Classes are added dynamically via JS,
	because IE6 doesn't support attribute
	selectors: .ie6_button, .ie6_input, etc.

	Note: These style rules are somewhat
	duplicated because IE6 bombs out when
	it sees attribute selectors. Example:

	.ie6_button {
		This works in IE6.
	}

	.ie6_button,
	input[type=submit] {
		This doesn't work.
	}
*/

.ie6_button,
* html button {
    background: #ddd url(../_imgs/button.png) repeat-x;
    border: 1px solid;
    border-color: #ddd #bbb #999;
    cursor: pointer;
    color: #333;
    font: bold 12px/1.2 Arial, sans-serif;
    padding: 2px 10px 0px;
    overflow: visible;
    width: auto;
}

* html button {
    padding-top: 1px;
    padding-bottom: 1px;
}

.ie6_input,
* html textarea,
* html select {
    background: #fff;
    border: 1px solid;
    border-color: #848484 #c1c1c1 #e1e1e1;
    color: #000;
    padding: 2px 3px 1px;
    font-size: 13px;
    font-family: Arial, sans-serif;
    vertical-align: top;
}

* html select {
    margin-top: 1px;
}

.placeholder_text,
.ie6_input_disabled,
.ie6_button_disabled {
    color: #888;
}

.ie6_input_disabled {
    background: #eee;
}

/* Colorbox */

/*
    ColorBox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%; height:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block;}
.cboxIframe{width:100%; height:100%; display:block; border:0;}

/*
    User Style:
    Change the following styles to modify the appearance of ColorBox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/


#cboxOverlay{background:#000;}
#colorbox{
    -moz-box-shadow: 0 0 10px rgba(0,0,0,0.1);
    -o-box-shadow: 0 0 10px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.1);
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
#cboxContent{margin-top:0; overflow:visible;}
.cboxIframe{background:#fff;}
#cboxError{padding:50px; border:1px solid #ccc;}
#cboxLoadedContent{background:#fff; padding:1px;}
#cboxLoadingGraphic{background:url(images/loading_gray.gif) no-repeat center center;}
#cboxLoadingOverlay{background:#fff;}
#cboxTitle{position:absolute; top:-22px; left:0; color:#000;}
#cboxCurrent{position:absolute; top:-22px; right:205px; text-indent:-9999px;}
#cboxSlideshow, #cboxPrevious, #cboxNext, #cboxClose{text-indent:-9999px; width:20px; height:20px; position:absolute; top:-20px; background:url(images/controls.png) no-repeat 0 0;}
#cboxPrevious{background-position:0px 0px; right:44px;}
#cboxPrevious:hover{background-position:0px -25px;}
#cboxNext{background-position:-25px 0px; right:22px;}
#cboxNext:hover{background-position:-25px -25px;}
#cboxClose{background-position:-50px 0px; right:0; visibility: hidden;}
#cboxClose:hover{background-position:-50px -25px;}
.cboxSlideshow_on #cboxPrevious, .cboxSlideshow_off #cboxPrevious{right:66px;}
.cboxSlideshow_on #cboxSlideshow{background-position:-75px -25px; right:44px;}
.cboxSlideshow_on #cboxSlideshow:hover{background-position:-100px -25px;}
.cboxSlideshow_off #cboxSlideshow{background-position:-100px 0px; right:44px;}
.cboxSlideshow_off #cboxSlideshow:hover{background-position:-75px -25px;}


/* Site Styles */

body {
    background: #F1F1F1 url(../_imgs/header_texture.png) repeat-x left top;
    font-family: "helvetica neue", helvetica, arial, sans-serif;
    font-size: 12px;
    line-height: 1.6;
}

h1,
h2,
h3,
h4,
p {
    margin: 10px;
}

.nav li,
#search_field {
    font-family: "times", "times new roman", georgia, serif;
}

a {
    text-decoration: none;
}

#lightbox_view h1 {
    font-size: 16px;
    font-weight: normal;
    margin-left: 20px;
    margin-top: 0;
}
h2 a,
p a {
    color: #2260AA;
}

h2 a {
    color: #333;
}

h2 a:hover {
    color: #2260AA;
}

p a:hover {
    text-decoration: underline;
}

#header,
#social,
#navigation,
#gallery,
#content {
    clear: both;
    width: 100%;
}

#header {
    padding-top: 30px;
}

#header .contents {
    min-height: 115px;
}

#logo a {
    background: url(../_imgs/logo.png) no-repeat center;
    display: block;
    height: 248px;
    left: 50%;
    margin: 0 0 0 -203px;
    overflow: hidden;
    position: absolute;
    text-indent: 100%;
    white-space: nowrap;
    width: 446px;
    z-index: 10;
}

#body_shell {
    position: absolute;
    width: 100%;
    z-index: 1;
}

#social_links {
    margin: 10px;
}

#social_links li {
    float: left;
    margin: -10px 4px 0 0;
}

#social_interaction {
    float: right;
    height: 20px;
    margin-bottom: 0;
    margin-right: -35px;
    width: 260px;
}

#twitter_button,
#pinterest_button,
#facebook_button,
#google_plus {
    float: left;
    height: 20px;
    margin-right: 8px;
}

#twitter_button {
    overflow: hidden;
    width: 80px;
}

#google_plus {
    margin-right: 7px;
    overflow: hidden;
    width: 33px;
}

.icon_twitter,
.icon_facebook,
.icon_pinterest,
.icon_flickr {
    display: block;
    height: 36px;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    width: 36px;
}

.icon_twitter {
    background: url(../_imgs/icon_twitter_black.png) no-repeat center;
}

.icon_facebook {
    background: url(../_imgs/icon_facebook_black.png) no-repeat center;
}

.icon_pinterest {
    background: url(../_imgs/icon_pinterest_black.png) no-repeat center;
}

.icon_flickr {
    background: url(../_imgs/icon_flickr_black.png) no-repeat center;
}

.icon_zoom {
    background: url(../_imgs/icon_zoom.png) no-repeat center;
    display: block;
    float: right;
    height: 17px;
    margin-left: 10px;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    width: 17px;
}

#small_share_icons {
    margin-top: 5px;
    margin-right: 17px;
}

#small_share_icons li {
    float: left;
    margin-right: 5px;
}

#mail,
#copy_link,
#tweet,
#like,
#view_on_flickr {
    display: block;
    height: 16px;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
}

#mail {
    background: url(../_imgs/icon_mail.png) no-repeat center;
    width: 21px;
}

#copy_link {
    background: url(../_imgs/icon_link.jpg) no-repeat center;
    width: 22px;
}

#tweet {
    background: url(../_imgs/icon_tweet.jpg) no-repeat center;
    width: 16px;
}

#like {
    background: url(../_imgs/icon_share.jpg) no-repeat center;
    width: 16px;
}

#view_on_flickr {
    background: url(../_imgs/icon_small_flickr.png) no-repeat center;
    width: 17px;
}

.photo_details .icon_zoom {
    float: right;
}

#search_box {
    background: url(../_imgs/search_background.png) no-repeat center;
    float: right;
    height: 30px;
    margin: 13px 10px 0 0;
    width: 270px;
}

#search_field {
    background: none;
    color: #535252;
    border: none;
    font-size: 14px;
    margin: 3px 0 0 33px;
    width: 218px;
}

#search_field:focus {
    border: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#navigation {
    background: url(../_imgs/header_border_980.png) no-repeat center top;
    clear: both;
    margin: 0;
}

.width_1300 #navigation {
    background: url(../_imgs/header_border_1300.png) no-repeat center top;
}

.width_1600 #navigation {
    background: url(../_imgs/header_border_1600.png) no-repeat center top;
}

#navigation .contents {

    padding-top: 10px;
}

.nav {
    float: left;
    margin: 20px 10px 0;
}

.nav li {
    float: left;
    font-size: 14px;
}

.nav li a {
    color: #333;
    padding: 5px 10px;
    text-decoration: none;
}

.nav li a.active {
    background: #333;
    color: #fff;
}

.nav li a:hover {
    color: #999;
}

#gallery {
    min-width: 980px;
}

#gallery .contents {
    padding: 10px 0;
}

#holder {
    display: none;
}

#colorbox #holder {
    display: block;
}

#cboxContent img {
}

#lightbox_call {
    height: 100%;
    width: 100%;
}

#lightbox_view {
    -moz-box-shadow: 0 0 10px rgba(0,0,0,0.1);
    -o-box-shadow: 0 0 10px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.1);
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin: 0 auto;
    width: 960px;
}

.width_1300 #lightbox_view,
.width_1600 #lightbox_view {
    width: auto;
}

#lightbox_view.portrait {

}

#lightbox_view img {
    width: 100%;
}

#colorbox #lightbox_view {
    box-shadow: none;
    margin: 0;
    margin-left: -1px;
    margin-top: -1px;
    width: auto;
}

#colorbox #lightbox_view.portrait {
}

#colorbox #lightbox_view img {
    height: auto;
    max-height: none;
    width: auto;
}

#colorbox #lightbox_view .photo_details {
    margin-top: -5px;
    min-height: 35px;
}

#content {
    margin: 20px auto;
}

.contents {
    margin: 0 auto;
    width: 990px;
}

.width_1300 .contents {
    width: 1320px;
}

.width_1600 .contents {
    width: 1650px;
}

.photo {
    border: 1px solid #ccc;
    -moz-box-shadow: 0 0 10px rgba(0,0,0,0.1);
    -o-box-shadow: 0 0 10px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.1);
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    float: left;
    margin: 10px;
}

.photo_shell a {
    display: block;
    height: 100%;
    overflow: hidden;
    width: 100%;
}

.photo_details a {
    display: inline;
}

.photo.no_left {
    margin-left: 0;
}

.photo.no_right {
    margin-right: 0;
}

.photo.right {
    float: right;
}

.photo_shell {
    background: #fff;
    overflow: hidden;
    width: 100%;
}

.photo img {
    height: auto;
    min-height: 100%;
    min-width: 100%;
    min-height: 100%;
    width: 100%;
}

.photo.portrait.cropped img {
    margin-left: -30px;
    width: auto;
}

.photo_details {
    background: #fff;
    border-top: 1px solid #f4f4f4;
    padding: 10px 0 0;
}

.photo_shell {
    width: 100%;
}

.photo.large {
    width: 638px;
}

.photo.landscape {
    width: 638px;
}

.photo.landscape img,
.photo.large_landscape img {
    margin-top: -40px;
}

.photo.large_landscape {
    width: 968px;
}

.photo.large_landscape .photo_shell {
    height: 442px;
}

.photo.medium,
.photo.portrait {
    width: 308px;
}

.photo.medium.second  {
    width: 308px;
}

.photo.landscape .photo_shell,
.photo.medium .photo_shell {
    height: 190px;
}

.photo.medium.second.vertical .photo_shell {
    height: 190px;
}

.photo.large .photo_shell,
.photo.portrait .photo_shell {
    height: 442px;
}
/*
#load_more {
	background: #333;
	color: #fff;
	display: block;
	padding: 10px 0;
	text-align: center;
	text-decoration: none;
	width: 100%;
}
*/

#load_more,
#scroll_top {
    background: url(../_imgs/button_more.png) no-repeat center;
    clear: both;
    display: block;
    height: 100px;
    margin: 0 auto;
    overflow: hidden;
    position: static;
    text-indent: 100%;
    white-space: nowrap;
    width: 198px;
}

#small_logo {
    background: url(../_imgs/logo_small.png) no-repeat center;
    display: block;
    height: 100px;
    left: 10px;
    margin-top: -110px;
    overflow: hidden;
    position: static;
    position: fixed;
    text-indent: 100%;
    top: 100%;
    white-space: nowrap;
    width: 198px;
}

#load_more.loading {
    background: url(../_imgs/button_loading.png) no-repeat center;
}

#scroll_top {
    background: url(../_imgs/button_scroll.png) no-repeat center;
    margin: -110px 0 0;
    position: fixed;
    right: 20px;
    top: 100%;
}

.nav_icons {
    display: none;
    margin-top: 4px;
}

#colorbox .nav_icons {
    display: block;
    width: auto;
}

#load_previous,
#load_next {
    display: block;
    float: left;
    height: 12px;
    margin: 3px 10px;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    width: 23px;
}

#load_next {
    background: url(../_imgs/icon_next.png) no-repeat center;
    margin-right: 0;
}

#load_previous {
    background: url(../_imgs/icon_prev.png) no-repeat center;
    margin-left: 0;
}

#link_copier {
    background: url(../_imgs/box_indicator.png) no-repeat 230px bottom;
    display: none;
    height: 110px;
    margin-left: -210px;
    margin-top: -130px;
    padding-bottom: 5px;
    position: absolute;
    width: 300px;
}

#link_copier_functionality {
    background: #fff;
    padding: 5px 0 4px;
}

#link_copier input[type="text"] {
    width: 200px;
}

/* Photo Set Styles */

.photo_set {
    background: #fff;
    border: 1px solid #ccc;
    -moz-box-shadow: 0 0 10px rgba(0,0,0,0.1);
    -o-box-shadow: 0 0 10px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.1);
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin: 10px 0;
    width: 100%;
}

.photo_information {
    border-bottom: 2px solid #f4f4f4;
    padding-top: 5px;
}

.photo_information h2 {
    font-size: 16px;
    font-weight: normal;
    margin: 5px 10px 10px;
}

.photo_information h2 a:hover,
.nav li a:hover {
    -webkit-transition:color .5s ease-in-out;
    -o-transition:color .5s ease-in-out;
    -moz-transition:color .5s ease-in-out;
    transition:color .5s ease-in-out;
}

.set_photo_count {
    float: right;
}

.set_image {
    float: left;
    margin: 10px;
    overflow: hidden;
}

.set_image_0 {
    height: 314px;
    width: 500px;
}

.set_image_0 img {
    margin-top: -90px;
    min-height: 278px;
    margin-left: -40px;
    min-width: 501px;
    width: 920px;
}

.small_set {
    float: left;
    width: 152px;
}

.width_1300 .small_set,
.width_1600 .small_set {
    width: 343px;
}

.set_image_1,
.set_image_2,
.set_image_3,
.set_image_4 {
    height: 152px;
    width: 152px;
}

.set_image_1 img,
.set_image_2 img,
.set_image_3 img,
.set_image_4 img {
    margin-top: -30px;
    min-height: 100%;
    min-width: 100%;
    width: 340px;
}

.set_image_1 {
    margin-left: 0;
}

.set_image_2 {
    margin-left: 0;
    margin-right: 0;
}

.set_image_3,
.set_image_4 {
    margin-top: 0;
}

.set_image_3 {
    display: none;
    margin-left: 0;
}

.set_image_4 {
    display: none;
    margin-left: 0;
    margin-right: 0;
}

.width_1300 .set_image_3,
.width_1300 .set_image_4,
.width_1600 .set_image_3,
.width_1600 .set_image_4 {
    display: block;
}

/*
.set_image_3 {
	clear: both;
	height: 115px;
	margin: 0;
	width: 313px;
}
*/

.set_description {
    float: left;
    width: 305px;
}

.width_1300 .set_description {
    width: 425px;
}

.width_1600 .set_description {
    width: 425px;
}

.set_description p {
    font-size: 14px;
}

/* Contact Styles */

#contact_content {
    border-bottom: 1px solid #d0d0d0;
}

#contact_column_1,
#contact_column_2 {
    border-left: 1px solid #D0D0D0;
    float: left;
    height: 1000px;
    margin-bottom: 40px;
    margin-top: 5px;
    padding-left: 18px;
}

#contact_column_1 {
    margin-right: 40px;
}

#contact_column_1 img {
    margin-bottom: 50px;
}

#contact_column_1 a {
    color: #000;
}

#contact_column_2 {
    width: 520px;
}

#bio {
    margin-top: 48px;
}



#contact_column_1 h2,
#contact_column_1 p,
#contact_column_2 h2,
#contact_column_2 h3,
#contact_column_2 label,
#bio p,
#contact_column_2 table {
    font-family: times, "times new roman", georgia, serif;
}

#contact_column_1 h2,
#contact_column_2 h2 {
    color: #504C4B;
    font-size: 18px;
    font-weight: normal;
    margin-top: 0;
}

#contact_column_1 p,
#contact_column_2 h3,
#contact_column_2 label,
#bio p {
    color: #656363;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.7;
}

#contact_column_2 h3 {
    margin-bottom: 0;
    text-transform: uppercase;
}

#contact_column_2 label {
    color: #928E87;
    display: block;
}

#contact_column_2 input[type="text"]{
    border: 1px solid #EEEDEC;
    height: 35px;
    width: 290px;
}

#contact_column_2 textarea {
    border: 1px solid #EEEDEC;
    height: 198px;
    width: 500px;
}

#contact_column_2 table {
    width: 100%;
}

#contact_column_2 table td {
    color: #656363;
    font-size: 14px;
    padding: 5px 10px;
}

#link_vcard {
    background: url(../_imgs/button_vcard.png) no-repeat center;
    display: block;
    height: 41px;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    width: 179px;
}

/* Map View */

#map_view {
    background: url(../_css/images/loading_gray.gif) no-repeat center;
    border: 1px solid #ccc;
    -moz-box-shadow: 0 0 10px rgba(0,0,0,0.1);
    -o-box-shadow: 0 0 10px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.1);
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    height: 600px;
    width: 100%;
}

.width_1300 #map_view,
.width_1600 #map_view {
    height: 800px;
}

#carousel_wrapper {
    margin-left: 60px;
    margin-right: 60px;
    overflow: hidden;
}

#carousel {
    height: 60px;
    width: 40000px;
}

#linear_gallery_left,
#linear_gallery_right {
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    height: 60px;
    overflow: hidden;
    position: absolute;
    text-indent: 100%;
    white-space: nowrap;
    width: 30px;
}

#linear_gallery_left {
    background-image: url(../_imgs/icon_prev.png);
    left: 0;
}

#linear_gallery_right {
    background-image: url(../_imgs/icon_next.png);
    right: 0;
}

#linear_gallery {
    background: #fff;
    background: rgba(255,255,255,0.8);
    height: 60px;
    left: 0;
    margin-top: -100px;
    overflow: hidden;
    position: fixed;
    top: 100%;
    width: 100%;
}

#linear_gallery a {
    display: block;
    float: left;
    height: 40px;
    margin: 10px 5px;
    width: 40px;
}

#linear_gallery img {
    float: left;
    height: 40px;
    width: 40px;
}

#photo_slide {
    background: url(../_imgs/box_indicator.png) no-repeat center bottom;
    margin-top: -310px;
    padding: 5px 5px 9px;
    position: fixed;
    top: 100%;
}

#photo_slide img {
    border: 5px solid #fff;
}

/* Utility Styles */

.align_center {
    text-align: center;
}

.align_right {
    text-align: right;
}

.clear {
    clear: both;
}

.float_left {
    float: left;
}

.float_right {
    float: right;
}

.margin_top_none {
    margin-top: 0 !important;
}

.width_5 {
    width: 5%;
}

.width_10 {
    width: 10%;
}

.width_15 {
    width: 15%;
}

.width_20 {
    width: 20%;
}

.width_40 {
    width: 40%;
}

.width_45 {
    width: 45%;
}

.width_50 {
    width: 50%;
}

.width_60 {
    width: 60%;
}

/* Media Query Styles */

@media all and (max-width: 600px) {
    .contents {
        margin: 0 auto;
        width: 580px;
    }

    .photo,
    .photo.right {
        float: none;
    }

    .photo,
    .photo.medium,
    .photo.medium .photo_shell,
    .photo.medium.second,
    .photo.medium.second .photo_shell,
    .photo.portrait,
    .photo.portrait .photo_shell,
    .photo.landscape,
    .photo.landscape .photo_shell,
    .photo.large,
    .photo.large .photo_shell,
    .photo img {
        clear: both;
        width: 560px;
    }


    .photo.portrait .photo_shell {
        height: 520px;
    }

    .photo.large .photo_shell,
    .photo.medium .photo_shell,
    .photo.landscape .photo_shell {
        height: 320px;
    }

    .shim {
        width: 580px;
    }

    .shim.small {
        width: 580px;
    }
}

@media all and (max-width: 480px),
handheld and (max-device-width: 480px) {

    #header,
    #content,
    #gallery {
        overflow: hidden;
        width: 100%;
    }

    #logo {
        left: 0;
        margin: 0;
        position: static;
        width: 320px;
    }

    #logo a {
        background: url(../_imgs/logo_sm.png) no-repeat left center !important;
        height: 178px;
        left: 0;
        margin: 0;
        overflow: hidden;
        position: static;
        text-indent: -9999px;
        white-space: nowrap;
        width: 320px;
    }

    .contents {
        width: 460px;
    }

    #header {
        background: none;
    }

    #social_links {
        clear: both;
        float: none;
        margin: 10px auto;
        width: 160px;
    }

    #social_interaction {
        clear: both;
        float: none;
        margin: 20px auto;
        width: 230px;
    }

    #search_box {
        clear: both;
        float: none;
        margin: 0 auto;
    }

    #navigation {
        background: none;
        clear: both;
        float: none;
    }
    .nav {
        clear: both;
        float: none;
        margin: 20px auto;
        width: 220px;
    }

    #nav_map {
        display: none;
    }

    #logo {
        margin: 0 auto;
    }

    #logo a {
        background-position: center;
        margin: 0;
        position: static;
        width: 460px;
    }

    #gallery {
        min-width: 0;
        width: 100%;
    }

    .contents {
        margin: 0 auto;
        width: 100%;
    }

    #lightbox_view {
        max-width: 100%;
    }

    #lightbox_view img {
        height: auto;
        margin: 0 auto;
        max-height: auto;
        max-width: 100%;
        width: 100%;
    }

    .photo,
    .photo.right {
        border-left: none;
        border-right: none;
        float: none;
        margin: 10px 0;
    }

    .set_image_0 {
        height: auto;
        margin-left: 0;
        margin-right: 0;
        width: 100%;
    }

    .set_image_0 img {
        margin-top: 0;
        min-height: none;
        min-width: none;
        width: 100%;
    }

    .set_image_1,
    .set_image_2 {
        float: left;
        margin-left: 10px;
    }

    .set_image_2 {
        margin-top: 0;
    }

    .set_description {
        margin-left: 10px;
        width: 300px;
    }

    .photo,
    .photo.medium,
    .photo.medium .photo_shell,
    .photo.medium.second,
    .photo.medium.second .photo_shell,
    .photo.portrait,
    .photo.portrait .photo_shell,
    .photo.landscape,
    .photo.landscape .photo_shell,
    .photo.large,
    .photo.large .photo_shell,
    .photo.large_landscape,
    .photo.large_landscape .photo_shell,
    .photo img,
    .photo_set {
        clear: both;
        margin: inherit 0;
        width: 100%;
    }

    .photo.portrait .photo_shell {
        height: 420px;
    }

    .photo.medium .photo_shell,
    .photo.landscape .photo_shell,
    .photo.large .photo_shell,
    .photo.large_landscape .photo_shell {
        height: 280px;
    }

    #contact_column_1,
    #contact_column_2 {
        height: auto;
    }

    #contact_column_1 {
        padding: 0;
        width: 100%;
    }

    #contact_column_1 img {
        margin-bottom: 10px;
        width: 100%;
    }

    #contact_column_2 {
        padding: 0;
        width: 100%;
    }

    #contact_column_2 input[type="text"],
    #contact_column_2 textarea {
        width: 100%;
    }
}

@media all and (max-width: 320px) {

    .small_set {
        margin: 0;
        width: 100%;
    }

    .set_image_0 {
        margin: 10px;
        width: 300px;
    }

    .set_image_1,
    .set_image_2 {
        float: left;
        margin-left: 10px;
        margin-top: 0;
        width: 140px;
    }

    #map_view {
        height: 280px;
        width: 320px;
    }

    #linear_gallery {
        margin-top: 0;
        position: static;
    }

    #photo_slide {
        position: absolute;
    }
}

/**** Transitions ****/

.masonry,
.masonry .masonry-brick {
    -webkit-transition-duration: 0.7s;
    -moz-transition-duration: 0.7s;
    -o-transition-duration: 0.7s;
    transition-duration: 0.7s;
}

.masonry {
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    -o-transition-property: height, width;
    transition-property: height, width;
}

.masonry .masonry-brick {
    -webkit-transition-property: left, right, top;
    -moz-transition-property: left, right, top;
    -o-transition-property: left, right, top;
    transition-property: left, right, top;
}